<section>
    <%= form_for(@member, :url => {:controller => "members", :action => "edit"}, :method => 'post', :html => {:id => 'edit_form'} ) do |f| %>
        <div>
            <% if @member.errors.any? %>
                <div>
                    Please correct:<br />
                    <% @member.errors.messages.each do |error| %>
                        <div><strong><%= error[0].to_s.humanize %></strong> - <%= error[1][0] %></div>
                    <% end %>
                </div>
            <% end %>
        
            <div>
                <fieldset>
                    <%= f.label :name %>
                    <%= f.text_field :name %>
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <%= f.label :email %>
                    <%= f.text_field :email, :readonly => true %>
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <%= f.label :dob %>
                    <%= f.date_field :dob %>
                </fieldset>
            </div>
        </div>

        <div>
            <button type="submit">Save</button>
        </div>
    <% end %>
</section>